{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content %}
    <h1>Bienvenue sur le tableau de bord d'administration</h1>
    <p>Utilisez le menu pour gérer les utilisateurs et autres fonctionnalités</p>
{% endblock %}
