<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion Spotify</title>
</head>
<body>
    <h1>Bienvenue sur l'application Spotify</h1>
    <a href="{{ authUrl }}">
        <button>Se connecter avec Spotify</button>
    </a>
</body>
</html>

